{% extends "base.html" %}
{% block content %}
<div class="container">
	<h2 class="mt-4">About Us:</h2>
	<p>This website is a free url shortening service works just like bitly and goo.gl made by google. It is developed and maintained by <a target="_blank" href="http://am-porotofolio.herokuapp.com/">AM</a> as a kind of workout.</p>
	<h2>How The Website Works?</h2>
	<ol>
		<li>Copy the link you want to shorten.</li>
		<li>Click on "Generate Url" button</li>
		<li>Copy the generated url.</li>
	</ol>
	<div><b>Note: </b>This site gives you a list of IPs of people who visited the shortened link you made.You can access it through the control url which should be provided to the user by the website with the shortened url.</div>
	<br>
	<center>This site was coded by a &#x1F42B; in the desert.</center>
</div>
{% endblock %}